
header {
	background-image: linear-gradient(to bottom, rgb(212, 175, 55), rgba(0, 0, 0, 0));
	text-align: center;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: 2px 2px 2px black;
	color: white;
	width: auto;
	height: auto;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	position: relative;
}

.headerlogo {
	width: 50%;
	min-width: 500px;
	margin-top: 0;
	padding-top: 0;
}

body {
	margin:0;
	background-color: blueviolet;
}

p {
	text-align: center;
	padding-bottom: 15px;
}

.mainpara {
	text-align: center;
	color: white;
	background-color: rgba(0, 132, 255, 0.5);
	box-shadow: 5px 5px 5px black;
	margin: 10px;
	padding: 0;
}

.lorem {
	float: left;
	width: 50%;
	margin: 0;
}

.vertical-row {
	Float: right;
	height:100px;
	width:1px; /* edit this if you want */
	background-color: black
   } 

.triangles {
	float: right;
	width: 50%;
}

.dogheadline {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 50%;
	font-size: 25px;
}

.rocket {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 0;
}

/* Clearfix--------------------------------------- */

.clearfix {
	content: "";
	clear: both;
	display: table;
  }