
header {
	background-image: linear-gradient(to bottom, rgb(212, 175, 55), rgba(0, 0, 0, 0));
	text-align: center;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: 2px 2px 2px black;
	color: white;
	width: auto;
	height: auto;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	position: relative;
}
.headerlogo {
	width: 50%;
	min-width: 500px;
}

body {
	margin:0;
}
p {
	text-align: center;
	padding-bottom: 15px;
}

.lorem {
	float: left;
	width: 60%;
	margin: 0;
}
.vertical-row {
	Float: right;
	height:100px;
	width:1px; /* edit this if you want */
	background-color: black
   } 
.triangles {
	float: right;
	width: 40%;
}

.dogheadline {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 0;

}
.rocket {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 0;
}

/* Clearfix--------------------------------------- */

.clearfix {
	content: "";
	clear: both;
	display: table;
  }